* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background-color: none;

    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgb(43, 172, 247);
}
#cardFlex{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
    padding: 20px;
    box-shadow: 9px 13px 8px rgba(0, 0, 0, 0.4);
}

.pickColor{
    display: flex;
    align-items: center;
}

.colorInputJS{
    margin: 3px;
}

.outputColor{
    background-color:  none;
    padding: 125px;
    margin: 15px 15px;
    border-radius: 50%;
}